<!DOCTYPE html>
<html ng-app='Yy'>
<head>
  <title>Yy</title>
  <%= stylesheet_link_tag    "yy/application", media: "all" %>
  <%= javascript_include_tag "yy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="content" ng-view>
  <%= yield %>
</div>

</body>
</html>
