<div class="topic-actions">
  <div class="btn-group">
    <button type="button" class="btn btn-default">{{categoryFilter.current.name}}</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a ng-click="categoryFilter.reset()" ng-href="#/">All categories</a></li>
      <li ng-repeat="category in categories"><a ng-click="categoryFilter.set(category.name)" ng-href="#/">{{category.name}}</a></li>
    </ul>
  </div>
  <a ng-href="#/" class="btn" ng-class="{'btn-link':!(isActive('')||isActive('/')),'btn-primary':isActive('')||isActive('/')}">Latest</a>
  <a href="#" class="btn btn-link" ng-if="currentUserId">New</a>
  <a href="#" class="btn btn-link" ng-if="currentUserId">Unread</a>
  <a href="#" class="btn btn-link" ng-if="currentUserId">Starred</a>
  <a href="#" class="btn btn-link">Top</a>
  <a ng-href="#/categories" class="btn" ng-class="{'btn-link':!isActive('/categories'),'btn-primary':isActive('/categories')}">Categories</a>
  <a href="#" class="btn btn-default pull-right" ng-if="currentUserId" ng-click="newTopicForm.show = true">+ Create Topic</a>
</div>

<div class="clear-fix"></div>
