<div class="topic-actions">
  <div class="btn-group">
    <button type="button" class="btn btn-default">All categories</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">All categories</a></li>
      <li><a href="#">Category #1</a></li>
      <li><a href="#">Category #2</a></li>
      <li><a href="#">Category #3</a></li>
    </ul>
  </div>
  <a href="#" class="btn btn-link">Latest</a>
  <a href="#" class="btn btn-link" ng-if="currentUserId">New</a>
  <a href="#" class="btn btn-link" ng-if="currentUserId">Unread</a>
  <a href="#" class="btn btn-link" ng-if="currentUserId">Starred</a>
  <a href="#" class="btn btn-link">Top</a>
  <a href="#" class="btn btn-link">Categories</a>
  <a href="#" class="btn btn-default pull-right" ng-if="currentUserId" ng-click="showNewTopicForm()">+ Create Topic</a>
</div>

<div class="clear-fix"></div>

<table class="table table-striped topic-list">
  <thead>
    <tr>
      <th></th>
      <th>Topic</th>
      <th>Category</th>
      <th>Users</th>
      <th>Posts</th>
      <th>Likes</th>
      <th>Views</th>
      <th>Acitivity</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="topic in topics">
      <td></td>
      <td class="title">{{topic.title}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<div id="create-topic-control" ng-show="newTopicFormVisible">
  <div class="modal-header">
    <button type="button" class="close" ng-click="hideNewTopicForm()">x</button>
    <h4 class="modal-title">Create a new Topic</h4>
    </div>
  <div class="topic-content row">
    <form role="form">
      <div class="form-group col-md-6">
        <input class="form-control" placeholder="Type your title here." />
      </div>
      <div class="form-group col-md-6">
        <select class="form-control">
          <option></option>
          <option value="1">Category #1</option>
          <option value="2">Category #2</option>
          <option value="3">Category #3</option>
        </select>
      </div>
      <div class="form-group col-md-12">
        <textarea class="form-control" placeholder="Type here." rows="8"></textarea>
      </div>
      <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary">Create Topic</button>
        <a class="btn btn-link" ng-click="hideNewTopicForm()">Cancel</a>
      </div>
    </form>
  </div>
</div>
