
<table class="table table-striped topic-list">
  <thead>
    <tr>
      <th></th>
      <th>Topic</th>
      <th>Category</th>
      <th>Users</th>
      <th>Posts</th>
      <th>Likes</th>
      <th>Views</th>
      <th>Acitivity</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="topic in topics">
      <td></td>
      <td class="title">{{topic.title}}</td>
      <td><span class="label label-default" ng-if="!!topic.category_name">{{topic.category_name}}<span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

